@import url();

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 230px;
    background: url('lotus.jpg')no-repeat center /cover;
}

.form{
    width: 396px;
    border: 2px solid white;
    border-radius: 36px;
    height: 19rem;
    color: white;
}


.form input{
    background: transparent;
    flex: 1;
    height: 23px;
    border: 1px solid white;
    border-radius: 10px;
   text-decoration-color: bisque;
}

#signup{
    display: flex;
    justify-content: center;
    font-size: 24px;
}
#name{
    display: flex;
    justify-content: center;
    font-size: 21px;
    margin: 6px;
    padding: 0px 41px;
}

#dob{
    display: flex;
    justify-content: center;
    font-size:  22px;
    margin: 6px;
    padding: 0px 41px;
}
#email{
    display: flex;
    justify-content: center;
    font-size:  22px;
    margin: 6px;
    padding: 0px 41px;
}
#psword{
    display: flex;
    justify-content: center;
    font-size:  22px;
    margin: 6px;
    padding: 0px 41px;
}
#submit{
    display: flex;
    justify-content: center;
    font-size:  22px;
    margin: 17px;
    padding-left: 94px;
    padding-right: 82px;
}
#last{
    display: flex;
    justify-content: center;
    font-size: 16px;
    margin: 6px;
    padding: 0px 98px;
}



